body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-icons{
  font-size: 50px;
}
.center{
  display: table;
  margin: 0 auto;
  margin-top: 30px;
}
.add{
  font-size: 30px;
}
#searchText{
  margin-right: 20px;
}

.table{
  margin-top: 50px;
}
.delete{
  font-size: 15px;
  text-align: center;
}
p:first-child{
  float: left;
}
p:last-child{
  clear: both;
}